@media only screen and (max-width: 700px) {
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: var(--secondary-main);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary-main);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .playscreen {
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .timer-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 20px;
    position: absolute;
    top: 0;
  }

  .timer-controls {
    width: 100%;
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
  }

  .timer-button {
    cursor: pointer;
    z-index: 99;
    place-self: center;
    fill: var(--secondary-main);
  }

  .timer-button:hover {
    opacity: 40%;
  }

  .displayTime {
    font-size: 6rem;
  }

  #reset-btn {
    grid-area: 1 / 1 / 2 / 2;
  }
  #play-btn {
    grid-area: 1 / 2 / 2 / 3;
  }
  #pause-btn {
    grid-area: 1 / 3 / 2 / 4;
  }
  #explore-btn {
    grid-area: 2 / 1 / 3 / 2;
  }
  #delete-btn {
    grid-area: 2 / 2 / 3 / 3;
  }
}
